
<div class="sidebar-wrapper">
  <div class="logo d-flex align-content-center">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="https://noesis.uis.edu.co/assets/uisdspace/images/uis-logo.svg">
      </div>
    </a>
    <a  class="simple-text logo-normal text-center align-content-center">
      UIS - E3T
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
