<div class="d-flex justify-content-center align-items-center text-light"
  style="height: 100%; background-color:#212120;">
  <!-- <form class="px-5 pb-3 pt-3 col-12 col-lg-4 col-md-6 col-sm-6 "> -->
  <form class="form-signin px-5 pb-3 pt-3" style=" max-width: 540px; width:100% ;">

    <div class="d-flex justify-content-center ">
      <div style="max-width: 340px; width:100% ;">
        <img class="mb-2" src="assets/img/logos/LOGO_UIS_PNG.png" alt="" width="100%">
      </div>
    </div>
    <!-- Email input -->
     <div class="d-flex justify-content-center">
       <div data-mdb-input-init class="form-outline mb-2 col-10">
         <input type="email" id="form2Example1" class="form-control" placeholder="Email address" [(ngModel)]="user.username" required autofocus/>
         <label class="sr-only" for="form2Example1" >Username</label>
       </div>
     </div>

    <!-- Password input -->
     <div class="d-flex justify-content-center">
       <div data-mdb-input-init class="form-outline mb-3 col-10">
         <input type="password" id="form2Example2" class="form-control" placeholder="Password" [(ngModel)]="user.password" required autofocus />
         <label class="sr-only" for="form2Example2">Password</label>
       </div>
     </div>

    <!-- 2 column grid layout for inline styling -->
    <!-- <div class="row mb-4 ">
        <div class="col d-flex justify-content-center">
          <a href="#!">Forgot password?</a>
        </div>
      </div> -->

    <!-- Submit button -->
     <div class="d-flex justify-content-center">
       <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block col-3" (click)="logIn()" >Sign in</button>
     </div>

    <!-- Register buttons -->
    <!-- <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        
      </div> -->
  </form>
</div>