<div class="d-flex justify-content-center align-items-center text-light" style="height: 100%; background-color:#212120;">
    <form class="card px-4 pb-3 pt-3 col-lg-4 col-md-5 col-sm-4">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <img class="mb-2" src="assets/img/logos/LOGO_UIS_PNG.png" alt="" width="100%" >
            </div>
        </div>
        <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Username</label>
      </div>
    
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <!-- <div class="row mb-4 ">
        <div class="col d-flex justify-content-center">
          <a href="#!">Forgot password?</a>
        </div>
      </div> -->
    
      <!-- Submit button -->
      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block">Sign in</button>
    
      <!-- Register buttons -->
      <!-- <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        
      </div> -->
    </form>
</div>